<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
  <link rel="stylesheet" href="/login.css">
  <link rel="icon" href="logo.png">
</head>
<body>
  <div class="wrapper">
    <form method="post" action="/login">
      <h2>Login</h2>
        <div class="input-field">
            <input type="text" name="email" required>
            <label for="email">Enter your email</label>
      </div>
      <div class="input-field">
        <input type="password" name="password" required>
        <label for="password">Enter your password</label>
      </div>
      <% if(error){ %>
        <div class="alert alert-danger">
          <%= error.msg %>
        </div>
      <% } %>
      <div class="forget">
        <label for="remember">
          <input type="checkbox" id="remember">
          <p>Remember me</p>
        </label>
        <a href="#">Forgot password?</a>
      </div>
      <button type="submit">Log In</button>
      <div class="register">
        <p>Don't have an account? <a href="#">Register</a></p>
      </div>
    </form>
  </div>
</body>
</html>